{
  "apiUrl": "http://localhost:5000",
  "STUDENT_EMAIL": "student@pregen.test",
  "STUDENT_PASSWORD": "Password1!",
  "TEACHER_EMAIL": "teacher@pregen.test",
  "TEACHER_PASSWORD": "Password1!",
  "ADMIN_EMAIL": "admin@pregen.test",
  "ADMIN_PASSWORD": "Password1!",
  "SUPERADMIN_EMAIL": "superadmin@pregen.test",
  "SUPERADMIN_PASSWORD": "Password1!"
}
